/* Fonts */
@font-face {
    font-family: Circe-Rounded;
    src: url(../font/Circe-Rounded/CirceRounded-Regular.otf) format("truetype");
}

@font-face {
    font-family: Circe-Rounded-Bold;
    src: url(../font/Circe-Rounded/CirceRounded-Bold.otf) format("truetype");

}

@font-face {
    font-family: Circe-Rounded-Light;
    src: url(../font/Circe-Rounded/CirceRounded-Light.otf) format("truetype");
}